.center /* Centr aligns the starfold image */
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

body /* Main Site body */
{			
	background-color: white;
	text-align: center;
	font-size: 40px;
}

h1 	/* Top Page Title */
{
	color: mediumpurple;
	text-align: center;
}
h2
{
	color: green;
}

p 	/* Main Site Body */
{
	font-family: "Times New Roman";
	font-size: 20px;
	text-align: center;
}